.user-table {
	min-width: 375px;
}

.jumbotron-custom {
	background: image-url('bg_lunch.jpeg') no-repeat center;
	background-size: cover;
}

.bg-custom {
	background: rgba(245, 245, 245, 0.6);
}

.container {
	padding-top: 56px;
}
